table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    color:aliceblue
  }
  
  th, td {
    border: 1px solid darkslategray;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color:blueviolet;
  }
h1{
    text-align: center;
    color:blanchedalmond  
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}