table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  
  th, td {
    border: 1px solid darkslategray;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color:blueviolet;
  }
h1{
    text-align: center;
}

body {
  background-color: bisque;
}